Repository hoptical/grafana-kafka-datasource: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: npm-lint
        name: npm run lint
        entry: npm run --silent lint
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx)$
      - id: prettier
        name: prettier (format)
        entry: npm run --silent lint:fix
        language: system
        pass_filenames: false
        files: \.(js|ts|tsx|json|md)$
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint

All Close() errors are handled
  .pre-commit-config.yaml
  example/go/avro_utils.go
  example/go/producer.go
  pkg/kafka_client/avro_utils.go
  pkg/kafka_client/client.go
  pkg/plugin/stream_manager.go
Due: none

fix the test logic in the frame_builder
  .pre-commit-config.yaml
  pkg/plugin/frame_builder_test.go
Due: none

apply the killing process for the example producer in the tests
  .pre-commit-config.yaml
  CHANGELOG.md
  tests/queryEditor-avro.spec.ts
  tests/queryEditor-json.spec.ts
  tests/test-utils.ts
Due: npm-lint, prettier

have the killing process in the json query e2e test as well
  tests/queryEditor-json.spec.ts
Due: npm-lint, prettier

enhancement: add linting for frontend and backend with pre-commit hooks (#115)
  .github/workflows/ci.yml
  .github/workflows/cp-update.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  example/README.md
  example/go/avro_utils.go
  example/go/producer.go
  pkg/kafka_client/avro_utils.go
  pkg/kafka_client/avro_utils_test.go
  pkg/kafka_client/client.go
  pkg/plugin/frame_builder_test.go
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_concurrency_test.go
  provisioning/dashboards/server-monitoring.json
  src/ConfigEditor.tsx
  src/QueryEditor.tsx
  src/__tests__/ConfigEditor.test.tsx
  src/__tests__/QueryEditor.test.tsx
  src/__tests__/datasource.test.ts
  src/datasource.ts
  src/test-utils/test-helpers.ts
  tests/configEditor.spec.ts
  tests/queryEditor-avro.spec.ts
  tests/queryEditor-json.spec.ts
  tests/test-utils.ts
Due: npm-lint, prettier

add waiting for the schema registry to be up in e2e test
  .github/workflows/ci.yml
  tests/queryEditor-avro.spec.ts
Due: npm-lint, prettier

use emotion and grafana theme instead of the inline stytles
  src/ConfigEditor.tsx
  src/QueryEditor.tsx
  src/__tests__/ConfigEditor.test.tsx
  src/__tests__/QueryEditor.test.tsx
Due: npm-lint, prettier

fixed showing choosing the schema file
  src/QueryEditor.tsx
Due: npm-lint, prettier

update e2e tests for the file upload of the avro schema
  tests/fixtures/test-avro-schema.avsc
  tests/queryEditor-avro.spec.ts
Due: npm-lint, prettier

upload successful tests reports too
  .github/workflows/ci.yml
Due: none

Revert "upload successful tests reports too"
  .github/workflows/ci.yml
Due: none

define a function for checking the schema validation and reuse it
  CONTRIBUTING.md
  tests/queryEditor-avro.spec.ts
Due: npm-lint, prettier

remove unused choose button css
  src/QueryEditor.tsx
Due: npm-lint, prettier

enhancement: replace inline styling with emotion styling (#116)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  src/ConfigEditor.tsx
  src/QueryEditor.tsx
  src/__tests__/ConfigEditor.test.tsx
  src/__tests__/QueryEditor.test.tsx
  tests/fixtures/test-avro-schema.avsc
  tests/queryEditor-avro.spec.ts
Due: npm-lint, prettier

remove the unused file input style definition
  src/QueryEditor.tsx
Due: npm-lint, prettier

update version to 1.2.2
  CHANGELOG.md
  package.json
  src/plugin.json
Due: prettier

Chore: bump the version to 1.2.2 (#117)
  CHANGELOG.md
  package.json
  src/QueryEditor.tsx
  src/plugin.json
Due: npm-lint, prettier

change info levels to debug for some requests in the backend
  pkg/plugin/plugin.go
  pkg/plugin/stream_manager.go
Due: none

all stream queries are now in debug level instead of Info
  pkg/plugin/plugin.go
Due: none

Enhancement: change info levels to debug for all requests in the backend (#118)
  pkg/plugin/plugin.go
  pkg/plugin/stream_manager.go
Due: none

bump plugin version to 1.2.3
  CHANGELOG.md
  package.json
  src/plugin.json
Due: prettier

Chore: bump the plugin version to v1.2.3 (#120)
  CHANGELOG.md
  package.json
  src/plugin.json
Due: prettier

chore(git): update .gitignore
  .gitignore
Due: none

refactor: runStream to be stateless to support multiple concurrent queries
  pkg/plugin/plugin.go
Due: none

deploy: 90f6075cf26fcbeb39f877023d39e9e6c6a00b15
  .nojekyll
  20251227/121/grafana-enterprise-10.2.9/summary.txt
  20251227/121/grafana-enterprise-10.4.19/summary.txt
  20251227/121/grafana-enterprise-11.2.10/summary.txt
  20251227/121/grafana-enterprise-11.5.10/summary.txt
  20251227/121/grafana-enterprise-12.1.5/summary.txt
  20251227/121/grafana-enterprise-12.3.1/summary.txt
Due: none

refactor: fix race conditions and update tests for stateless architecture
  pkg/plugin/frame_builder.go
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_concurrency_test.go
  pkg/plugin/stream_manager_test.go
Due: none

fix: reviewer comments
  pkg/plugin/frame_builder.go
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_concurrency_test.go
Due: none

fix: add timestamp mode to the path of the frontend to capture its changes
  src/__tests__/datasource.test.ts
  src/datasource.ts
Due: npm-lint, prettier

fix: multiple query support by making streaming stateless (#121)
  .gitignore
  pkg/plugin/frame_builder.go
  pkg/plugin/plugin.go
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_concurrency_test.go
  pkg/plugin/stream_manager_test.go
  src/__tests__/datasource.test.ts
  src/datasource.ts
Due: npm-lint, prettier

feat: refid and alias, first draft
  pkg/plugin/plugin.go
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_test.go
  src/QueryEditor.tsx
  src/__tests__/datasource.test.ts
  src/datasource.ts
  src/types.ts
Due: npm-lint, prettier

feat: add template for topic, refid and fields to the alias
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_alias_test.go
  src/datasource.ts
Due: npm-lint, prettier

fix: linter
  src/QueryEditor.tsx
Due: npm-lint, prettier

deploy: 59c7ed9582db34d5416b89b4ab75443f1ab3dcf4
  .nojekyll
Due: none

fix: tests and use double brackets instead of single
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_alias_test.go
  src/QueryEditor.tsx
  src/datasource.ts
Due: npm-lint, prettier

update: readme
  README.md
Due: prettier

update: e2e tests to see if alias field is available
  tests/queryEditor-json.spec.ts
Due: npm-lint, prettier

fix(plugin): pass config and topic to createErrorFrame in ProcessMessageToFrame
  pkg/plugin/stream_manager.go
  src/__tests__/datasource.test.ts
  src/datasource.ts
Due: npm-lint, prettier

add: e2e test for alias substitution
  tests/queryEditor-json.spec.ts
Due: npm-lint, prettier

feat: apply field-level aliasing to error frames for consistency
  pkg/plugin/stream_manager.go
  tests/queryEditor-json.spec.ts
Due: npm-lint, prettier

feature/119-add support for refid and alias (#122)
  README.md
  pkg/plugin/plugin.go
  pkg/plugin/stream_manager.go
  pkg/plugin/stream_manager_alias_test.go
  pkg/plugin/stream_manager_test.go
  src/QueryEditor.tsx
  src/__tests__/datasource.test.ts
  src/datasource.ts
  src/types.ts
  tests/queryEditor-json.spec.ts
Due: npm-lint, prettier
